<p id="notice"><%= notice %></p>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3ErgRtY1qqttegTHE61e6ous0Jhnnymg&sensor=true">
    </script>

<p>
  <b>Current User:</b>
  <%= current_user.email %>
</p>
<p>
  <b>User:</b>
  <%# raise params.inspect %>
  <%= @user.email %>
</p>

<%#= form_tag user_path, :method => "get" do %>
  <%#= text_field_tag :search, params[:search], :placeholder => "Search for a restaurant" %>
  <%#= submit_tag "Search" %>
 <%# end %>



    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/twitter.js"></script>
    <script type="text/javascript" src="assets/javascripts/gmaps.js"></script>
    


<%= link_to 'Back', users_path %>
