// revisit after discovering better use for websockets in this app
<%# broadcast "/messages/new" do %>
  // $("#Yelp_Reviews").replaceWith("<h2 id='Yelp_Reviews'>'Yelp Review Count': <%= :yelp_review_count %></h2>");
<%# end %>