// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.span-12 {
	font-family: 'Open Sans Condensed', sans-serif;
  background:white;
}

.container h1 {
  padding-left:150px;
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
}
.map {
  padding-left:100px;
}