// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
    color: black;
    background-color: #ffc;
    margin: 20px;
    padding: 0;
}